input[type=text], input[type=email] {
    display: block;
    border: none;
    width: 100%;
    padding: var(--ui-padding);
    border: var(--outline);
    border-radius: var(--border-radius-min);
    color: var(--primary-text);

    transition: border 300ms cubic-bezier(0.24, 1.14, 0.02, 0.95);
}

input[type=text]:focus-visible, input[type=email]:focus-visible {
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.04);
    outline: none;
}
