<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./access/css/main.css">
</head>
<body>
    <div class="test">
        <div class="card-with-img">
            <div class="place-img img-block-outline">
                <img src="./access/img/promotions/promotion1.jpg" alt="">
            </div>
            <p class="h2 title">
                Шаг первый
            </p>
            <p class="norm-text description">
                Выбор условной даты отправления груза
            </p>
        </div>
    </div>
</body>
</html>