@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(/access/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(/access/fonts/Roboto/Roboto-Medium.ttf);
}

.h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.norm-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.bold-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.display-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}